# Ignore default stuff
.idea/
.DS_Store

# Ignore secrets
*.env

# Ignore terraform local stuff
*.terraform*
*.tfstate
*.tfstate.*

# Ignore cache
.pytest_cache

# ignore any duckdb files
*.duckdb
*.db

# ignore cache
.ruff_cache/

# ignore notebooks
notebooks/
*.ipynb
